@media (max-width:620px){
    .scanme-image{
        display: none;
    }
    .phome-img-div{
        display: none;
    }
    .phone-qr-position-div{
        position: static;
        width: fit-content;
    }
    .qr-code-div{
        position: static;
    }
    /* .qr-code-div{
        left: 30px;
    } */
}



@media (min-width: 1530px) {
    .iframe-main-div{
    transform: scale(0.85);
    top:42px;
    left:44px
 }
 .iframe-div{

 }
 .mobile-frame-div{
    transform: scale(1);
    top:30px;
    left: -255px;
    width: 950px;
    height: 780px;
 }
}